
    <div class="container meat">
		<div class="shoes" ng-repeat="shoe in shoes | orderBy:orderProp">
			<div class="col-xs-6 col-md-4">
				<a href="#/{{shoe.id}}" class="thumbnail" id="float">
				<img id="{{shoe.id}}" ng-src="{{shoe.imageUrl}}" alt="..." >
				</a>
			</div>
		</div>
    </div><!-- /.container -->
	
	
	
	<div class="footer">
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="footer-items">
				<button href="#" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-tower"></span>
				</button>
			
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-cloud-upload"></span>
				</button>
				
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-flash"></span>
				</button>
				
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-user"></span>
				</button>
				
			</div>
	</div>
</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


